<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Movie Details 🎥</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!--all pages link to same stylesheet to keep look and feel-->
</head>

<body>
    <header>
    <!-- heading with navigation bar -->
    <div class="sticky-top">
      <!--header need to be responsive to the window changing-->
      <h1>Movie Details</h1>
      <ul class="nav nav-tabs">
        <!--bootstrap navigation tab with custom background color-->
        <li class="nav-item">
          <a class="nav-link active" href={{url_for('index')}}> Movies </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{url_for('rating')}}>Rating System</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{url_for('genre')}}>Movie genre</a>
        </li>
      </ul>
    </div>
  </header>

  <p>🍿🎥🎞️📽️🎬🎦</p>

  <div class="content">
    <table class="data_table" style="width:100%">
      {% for row in rows %}
      <tr>
        <th>Movie Title</th>
        <td>{{row['name']}}</td>
      </tr>
      <tr>
        <th>Rating of the movie</th>
        <td>{{row['rating']}}</td>
      </tr>
      <tr>
        <th>Main Genre</th>
        <td>{{row['genre']}}</td>
      </tr>
      <tr>
        <th>Released Year</th>
        <td>{{row['year']}}</td>
      </tr>
      <tr>
        <th>Released date and Country</th>
        <td>{{row['release_date_place']}}</td>
      </tr>
      <tr>
        <th>iMDb Score</th>
        <td>{{row['score']}}</td>
      </tr>
      <tr>
        <th>Number of iMDb user votes</th>
        <td>{{row['votes']}}</td>
      </tr>
      <tr>
        <th>Director</th>
        <td>{{row['director']}}</td>
      </tr>
      <tr>
        <th>Writer</th>
        <td>{{row['writer']}}</td>
      </tr>
      <tr>
        <th>Main actor/actress</th>
        <td>{{row['star']}}</td>
      </tr>
      <tr>
        <th>Country of origin</th>
        <td>{{row['country']}}</td>
      </tr>
      <tr>
        <th>Budget of themovie</th>
        <td>{{row['budget']}}</td>
      </tr>
      <tr>
        <th>Revenue of the movie</th>
        <td>{{row['gross']}}</td>
      </tr>
      <tr>
        <th>Production Company</th>
        <td>{{row['company']}}</td>
      </tr>
      <tr>
        <th>Duration of the movie</th>
        <td>{{row['runtime']}}</td>
      </tr>
  <!-- name, rating, genre, year, release_date_place, score, votes, director, writer, star, country, budget, gross, company, runtime -->
{% endfor %}
    </table>
  </div>
 <!-- <h1>Movie Details</h1>
    <p>🍿🎥🎞️📽️🎬🎦</p> -->
      <!-- <p><a href={{url_for('index')}}>Movies </a> | <a href={{url_for('rating')}}>Rating System</a> | <a href={{url_for('genre')}}>Movie genre</a></p> -->
    <!-- {% for row in rows %}  -->
    <!-- <p> -->
     <!-- {{row[0]['id']}} |  -->
      <!-- {{row['name']}} |
      {{row['rating']}} |
      {{row['genre']}} |
      {{row['year']}} |
      {{row['release_date_place']}} |
      {{row['score']}} |
      {{row['votes']}} |
      {{row['director']}} |
      {{row['star']}} |
      {{row['writer']}} |
      {{row['country']}} |
      {{row['budget']}} |
      {{row['gross']}} |
      {{row['company']}} |
      {{row['runtime']}} -->
  <!-- name, rating, genre, year, release_date_place, score, votes, director, writer, star, country, budget, gross, company, runtime -->
  <!-- </p> -->
  <!-- {% endfor %} -->

 
</body>
</html>