<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Rating System 🎬</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;700&display=swap" rel="stylesheet">
  <!-- goole text -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <!--all pages link to same stylesheet to keep look and feel-->
</head>

<body>
  <header>
    <!-- heading with navigation bar -->
    <div class="sticky-top">
      <!--header need to be responsive to the window changing-->
      <h1>Movie Rating</h1>
      <ul class="nav nav-tabs">
        <!--bootstrap navigation tab with custom background color-->
        <li class="nav-item">
          <a class="nav-link" href={{url_for('index')}}>Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href={{url_for('rating')}}>Rating System🍿</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{url_for('genre')}}>Movie genre</a>
        </li>
      </ul>
    </div>
  </header>
  <br>
  <div class="content">
    <p style="text-align: center;">🍿🎥🎞️📽️🎬🎦</p>
    <table class="data_table">
      <tr>
        <th>Rating</th>
        <th>System</th>
        <th>Definition</th>
        <th>Explanation</th>
      </tr> 
      {% for row in rows %} 
      <tr>
        <!-- <td>{{row['rating']}}</td> -->
        <td style="width:auto"><a href={{ url_for('rating_movie', rating=row['rating'])}}>{{row['rating']}}</a></td>
          <!-- to rating_movie page to show all movies with same rating -->
        <td>{{row['system']}}</td>
        <td>{{row['definition']}}</td>
        <td>{{row['explanation']}}</td>
        <!-- rating,system,definiton,explaination -->
      </tr> 
      {% endfor %}
    </table>
  </div>
  <!-- <h1>Movie and Television </h1>
    <p>🍿🎥🎞️📽️🎬🎦</p>
    <p><a href={{url_for('index')}}>Movies </a> |<a href={{url_for('rating')}}> Rating System</a> | <a href={{url_for('genre')}}> Movie genre</a></p>

    {% for row in rows %}
    <p>
      {{row['rating']}} |
      {{row['system']}} |
      {{row['definition']}} |
      {{row['explaination']}}
      -- rating,system,definiton,explaination --

    </p>
    {% endfor %} -->
</body>

</html>