<html>
  <head>
    <title>Rating System📽️</title>
  </head>
  <body>
    <h1>Movie and Television </h1>
    <p>🍿🎥🎞️📽️🎬🎦</p>
    <p><a href={{url_for('index')}}>Movies </a> |<a href={{url_for('rating')}}>Rating System</a> | <a href={{url_for('genre')}}>Movie genre</a></p>

    {% for row in rows %}
    <p>
      {{row['rating']}} |
      {{row['system']}} |
      {{row['definition']}} |
      {{row['explaination']}}
      <!-- rating,system,definiton,explaination -->

    </p>
    {% endfor %}
  </body>
</html></body>
</html>